@using Project.Models;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        // Check if the signed-in user is in the "Admin" role
        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Admin Dashboard</a>
            </li>
        }
     <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarNotificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill bg-danger" id="notificationCount" style="display:none;">0</span>
         </a>
         <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarNotificationDropdown" id="notificationDropdown">
            <li><a class="dropdown-item text-muted">No new notifications</a></li>
         </ul>
     </li>

    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item mx-2">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                <!-- Profile Icon -->
                <i class="fas fa-user-circle me-1"></i>
                <!-- Hidden text that appears on hover -->
                <span class="nav-text">Login</span>
        </a>
    </li>
}
</ul>
