<!-- === _RegisterModalPartial.cshtml === -->
@model Project.Models.RegisterViewModel

<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="registerModalLabel">Register</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page="/Account/Register" method="post">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name <span class="text-danger">*</span></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Surname" class="form-label">Surname <span class="text-danger">*</span></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email Address <span class="text-danger">*</span></label>
                        <input asp-for="Email" class="form-control" autocomplete="username" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control" id="registerPassword" autocomplete="new-password" />
                            <button class="btn btn-outline-secondary password-toggle-btn" type="button" data-target="registerPassword">
                                <i class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Re-enter Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" autocomplete="new-password" />
                            <button class="btn btn-outline-secondary password-toggle-btn" type="button" data-target="confirmPassword">
                                <i class="fas fa-eye-slash"></i>
                            </button>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-blue w-50 mx-auto d-block">Register</button>
                </form>
                <hr />
                <div class="text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                        Already have an account? Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
